## What’s the Difference between None and NaN in Python?

When it comes to data wrangling, dealing with missing values is an inevitable task. Unlike other popular programming languages, such as Java and C++, **Python does not use the `NULL` keyword**. 

Missing data includes `None`, `NaN`: When we are dealing with missing values using Pandas, we don’t need to differentiate them **because Pandas use NaN internally for simplicity**. However, there are some differences.

### 1. `NaN`: Not a Number
`NaN` is a missing floating-point value, a special value that is part of the IEEE floating-point specification.

In [14]:
import numpy as np
import pandas as pd

In [15]:
type(np.nan)

float

#### In Numpy, the array with a NaN value is a native floating-point type array.

In [16]:
np.array([1,2,3,np.nan]).dtype

dtype('float64')

#### However, when we try to do some arithmetic operations with `NaN`, the result will always be `NaN`.

In [17]:
np.array([1,2,3,np.nan]).sum()

nan

In [18]:
np.nan + 1

nan

#### Fortunately, Numpy provides some special aggregation methods that can ignore the existence of NaN value.

In [19]:
np.array([1,2,3,np.nan])
np.nansum(np.array([1,2,3,np.nan]))

6.0

### 2. `None`: A Python Object
- **None is a Python Object called NoneType**.  
- If aggregate over this array, you will get an error because of the NoneType.

In [20]:
np.array([1,2,3,None]).sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

#### Pandas is built to handle the two of them nearly interchangeably, converting between them where appropriate.

- Pandas automatically converts the None to a NaN value.

In [21]:
series = pd.Series([1,2,np.nan,3,4,None])
series

0    1.0
1    2.0
2    NaN
3    3.0
4    4.0
5    NaN
dtype: float64

In [22]:
pd.Series([1,2,None,3,4,np.nan])

0    1.0
1    2.0
2    NaN
3    3.0
4    4.0
5    NaN
dtype: float64

In [23]:
series.mean()

2.5

In [24]:
series.isnull()

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In addition, according to the documentation of Pandas, the nan's don’t compare equal, but None's do. Note that pandas/NumPy uses the fact that np.nan != np.nan, and treats None like np.nan.

In [25]:
None == None

True

In [26]:
np.nan == np.nan

False